body {
    font-family: "Overpass", Arial, sans-serif;
    width: 100%;
    display: block;
}

p {font-size: 120%; line-height: 1.6;}

h1 {font-size: 250%;}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.6;
  color: #000;
  font-family: "Dosis", Arial, sans-serif;
  font-weight: 400;
}

.wcrlo-active .nav-link {
    color: #f86f2d !important;
}

.site-navigation {
    position: relative;
    transition: ease 0.5s;
    display: block;
    height: 100%;
    width: 0;
    max-width: 600px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background: #fff;
    font-size: 18px;
    box-shadow: 1px 0px 5px #333;
}

.site-navigation ul li {
    box-sizing: border-box;
    display: inline-block !important;
    width: 100%;
    display: block;
    padding-left: 20px;
    list-style: none !important;
    border-bottom: 1px solid #eee;
}

.site-navigation ul li:hover {
    background: #eee;
}

.site-navigation ul .navbar-nav li a {
    text-align: left;
    box-sizing: border-box;
}

.site-navigation ul li a:hover {
    color: #f86f2d;
}

.toggle-button {
    display: inline-block;
    color: #353535 !important;
    padding: 0;
}

.site-navigation .nav-close {
    border-bottom: 1px solid #eee;
    width: 100%;
}

.site-navigation .nav-close span {
    margin-top: 0px;
    font-size: 40px;
    padding: 4px 0px;
    display: block;
    cursor: pointer;
}

.header-section {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.7);
  z-index: 20;
  top: 0;
  left: 0;
  display: block;
}

.header-section.scrolled {
    -webkit-box-shadow: 0px 1px 5px #929191;
            box-shadow: 0px 1px 5px #929191;
    background: white;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.hero-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-wrap-2 {
    width: 100%;
    height: 60vh;
    position: relative;
}

.hero-wrap-3 {
    width: 100%;
    height: 70vh;
    position: relative;
}

.hero-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-wrap-about-us h5,
.hero-wrap-home h3 {
    color: white;
}

.hero-top {
    height: 69px;
    display: block;
}

.hero-content {
    display: block;
    min-height: calc(100vh - 69px);
}

.set-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.set-bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.set-bg-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.slider-text {
    color: #fff;
    height: 450px;
}
.slider-text h1 {
      font-size: 60px;
      color: #fff;
      line-height: 1.2;
      font-weight: 400;
}
@media (max-width: 991.98px) {
    .slider-text h1 {
        font-size: 40px;
    }
}

.slider-text p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

.slider-text p a {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.slider-text p a span {
    color: #fff;
}

.slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99;
}

.slider-text .breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
}
.slider-text .breadcrumbs span a {
    color: #fff;
}
.slider-text .bread {
    font-weight: 400 !important;
}
.slider-text .btn-outline-white {
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
}
.slider-text .btn-outline-white span {
    color: #fff;
}
.slider-text .btn-outline-white:hover span {
    color: #f86f2d;
}


.wcrlo-animate {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.wcrlo-animate2 {
    opacity: 0;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    transition: ease-in;
}

.wcrlo-animater {
    opacity: 0;
}

.wcrlo-animated {
    opacity: 1;
}


/*wcrlo-section*/
.wcrlo-section {
    font-size: 150%;
}

.wcrlo-section p {
    color: #929191;
}

.wcrlo-section .icon i[class*="flaticon-"]::before {
    font-size: 3em;
    color: #f86f2d;
}

.wcrlo-section p .btn {
    /*color: #f86f2d;*/
    box-shadow: 0px 0px 4px #007bff;
}

.wcrlo-section p .btn:hover {
    color: #ffffff;
    background-color: #007bff;
    box-shadow: 0px 0px 4px #929191;
}

.img {
  vertical-align: middle;
}

.wcrlo-section-home {
    padding: 70px 0px;
    line-height: 200%;
    color: #505050;
}

.wcrlo-section-home-1 {
    font-size: 90%;
}

.wcrlo-section-home-5 h5 {
    color: #555555;
}

.wcrlo-section-home .text-and-image img {
    width: 100%;
    text-align: left;
    padding: 0px 0px 10px 0px;
}

.wcrlo-section-1 {
    padding: 10px 0;
}

.wcrlo-section-2 {
    font-size: 100%;
    padding: 3em 0;
    display: block;
}

.wcrlo-section-3,
.wcrlo-section-4,
.wcrlo-section-5 {
    padding: 100px 0;
}

/*.wcrlo-section-3 p {
    color: #929191;
}*/

.wcrlo-section-4 {
    padding: 100px 0;
}

.wcrlo-section-4 p {
    color: #505050;
}

.wcrlo-card img {
    width: 100%;
    overflow-y: hidden;
}

.wcrlo-card h5 {
    color: #555555;
    text-align: center;
}

.wcrlo-section-support, .wcrlo-section-child-rights {
    padding: 70px 0px;
    display: block;
    line-height: 200%;
    color: #505050;
}

.wcrlo-footer {
    font-size: 16px;
    padding: 7em 0;
    background: #252525;
}

.wcrlo-footer .wcrlo-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wcrlo-footer-widget h2:after {
    position: absolute;
    bottom: -15px;
    left: 0;
    content: '';
    width: 70px;
    height: 1px;
    background: #fff; 
}

.wcrlo-footer .wcrlo-footer-widget ul li a span {
  color: #fff; 
}

.wcrlo-footer .wcrlo-footer-widget .btn-primary {
  background: #fff !important;
  border: 2px solid #fff !important;
}

.wcrlo-footer .wcrlo-footer-widget .btn-primary:hover {
    background: #fff;
    border: 2px solid #fff !important;
}

.wcrlo-footer p {
    color: rgba(255, 255, 255, 0.7); 
}
.wcrlo-footer a {
    color: rgba(255, 255, 255, 0.7);
}
.wcrlo-footer a:hover {
    color: #fff;
}
.wcrlo-footer .wcrlo-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000;
}
.wcrlo-footer .block-21 .text .heading {
    font-size: 18px;
}
.wcrlo-footer .block-21 .text .heading a {
    color: rgba(255, 255, 255, 0.8);
}
.wcrlo-footer .block-21 .text .heading a:hover,
.wcrlo-footer .block-21 .text .heading a:active,
.wcrlo-footer .block-21 .text .heading a:focus {
        color: #f86f2d;
}
.wcrlo-footer .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}
.wcrlo-footer .block-21 .text .meta > div a {
    color: gray;
}

.wcrlo-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.wcrlo-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}
.wcrlo-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.wcrlo-footer-social li a:hover {
    color: #fff;
}

.footer-small-nav > li {
  display: inline-block;
}
.footer-small-nav > li a {
    margin: 0 10px 10px 0;
}
.footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #f86f2d;
}

.text-site-orange {
    color: #f86f2d;
}

.block-team-member-1 {
    padding: 15px;
    border: 1px solid #e9ecef;
}

.block-team-member-1 figure img {
      width: 130px;
}

.block-23 ul {
    padding: 0;
}
.block-23 ul li, .block-23 ul li > a {
      display: table;
      line-height: 1.5;
      margin-bottom: 15px;
}
.block-23 ul li span {
      color: rgba(255, 255, 255, 0.7);
}
.block-23 ul li .icon, .block-23 ul li .text {
      display: table-cell;
      vertical-align: top;
}
.block-23 ul li .icon {
      width: 40px;
      font-size: 18px;
      padding-top: 2px;
      color: white;
}

.font-gray-5 {
    color: #b8b8b8;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-40 {
    font-size: 40px;
}

.letter-spacing-1 {
    letter-spacing: 0.1em;
}

.border-w-2 {
    border-width: 2px;
}

.max-w-300 {
    max-width: 300px;
}

.min-h-300 {
    min-height: 300px;
}

.primary-primary-outline--hover {
    background: #f86f2d;
    color: #fff;
}

.primary-primary-outline--hover:hover {
    border-color: #f86f2d;
    background: transparent;
}

.block-social-1 > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
}

.block-social-1 > a span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-title {
    font-size: 4rem !important;
}

.btn-orange {
    background: #f86f2d;
}

.bg-semi-white {
    background: rgba(255, 255, 255, 0.8);
}

.bg-semi-white-65 {
    background: rgba(255, 255, 255, 0.65);
}

.mb-zero {
    margin-bottom: 0px;
}

.b-shadow-white-2 {
    box-shadow: 0px 0px 2px #fff;
}

.t-shadow-black-2 {
    text-shadow: 0px 0px 2px #111;
}

.circle {
    border-radius: 100%;
}

.img-150 {
    width: 100%;
    max-width: 200px;
}

.img-200 {
    width: 100%;
    max-width: 200px;
}

.c-pointer {
    cursor: pointer;
}

.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-15 {
    margin-top: 15%;
}

.arrow-container {
    cursor: pointer;
}

.b-radius-5 {
    border-radius: 5px;
}

.myArrowBounceAnim {
    animation: myArrowBounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.map-container {
    width: 100%;
    height: 55vh;
}

.contact-info p span{
    color: #000;
}

.contact-info p a {
    color: #f86f2d;
    text-decoration: none;
}

.bg-orange {
    background: #f86f2d;
    border-color: #f86f2d;
}

.bg-hover-orange:hover {
    background: #f86f2d;
}

@keyframes myArrowBounce {
    50% {
        transform: translateY(10px);
    }
}


/*@media only screen and (max-width: 992px) and (min-width: 768px){
    
}

@media only screen and (max-width: 767px) and (min-width: 480px){
    
}

@media only screen and (max-width: 479.98px) {
    
}*/

/*semi transparent backgrounds*/
.static-bg {
  background-attachment: fixed;
}

.parallaxed {
    -webkit-overflow-scrolling: touch;
    perspective-origin: 0 0;
    overflow-y: scroll;
}

.parallax-container {
    perspective: 1px;
  }  

.parallax-child {
    transform: translateZ(-2px) scale(3);
    position: -webkit-sticky;
    top: 0px;
}  

.opaqueBg {
  width: 100%;
  position: relative;
  z-index: 2;
}

.opaqueBgg {
    width: 100%;
    position: relative;
    z-index: 2;
  }

.opaqueBg::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

.opaqueBgg::before {
    content: "";
    background-size: cover;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}

.opaqueBgg-1::before {
    background: rgb(202, 202, 202);
    opacity: 0.94;
}
  

.opaqueBg-1::after {
  background: rgb(255, 255, 255, 0.95);
}

.opaqueBg-2::after {
    background: rgba(109, 109, 109, 0.6);
}

.opaqueBg-white-2::after {
    background: rgba(151, 151, 151);
    opacity: 0.6;
}

.opaqueBg-3::after {
    background: #f3f9ff;
    opacity: 0.96;
}

.opaqueBg-4::after {
    background: #fff7f3;
    opacity: 0.96;
}

/*.opaqueBg-1 {
    background-color: rgb(255, 255, 255, 0.7);
}*/

/*Loader*/
#wcrlo-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000;
}
  
#wcrlo-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
  
#wcrlo-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
  
#wcrlo-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
  
#wcrlo-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}
  
  @-webkit-keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @keyframes loader-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @-webkit-keyframes loader-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0; }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px; }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -136px; } }
  
  @keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0; }
      50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px; }
      100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px; }
    }

@media only screen and (max-width: 991.98px) {
    #toggle-button {font-size: 30px;}

    .site-navigation ul {
        margin: 0 !important;
        padding: 0;
    }

    .section-title {
        font-size: 2rem !important;
    }
}
    
@media only screen and (max-width: 767.98px) {
    .img-about {
        height: 400px;
        margin-bottom: 30px;
    }

    .img-bg {
        height: 400px;
        margin-bottom: 30px;
    }
}

@media (max-width: 576.98px) {
    .opaqueBg-1::after {
        background: rgb(255, 255, 255, 0.94);
    }
}

/* Small Devices*/
@media (min-width: 576px) {
    .wcrlo-section {
        font-size: 120%;
    }

    .wcrlo-card h5 {
        font-size: 100%;
    }

    .wcrlo-section-home .text-and-image img {
        width: 50%;
        padding-right: 50px;
        max-width: 600px;
        float: left;
        padding: 0px 0px 10px 0px;
        word-wrap: normal;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .wcrlo-section {
        font-size: 100%;
    }

    .img-about {
        width: 100%;
        height: 100%;
    }

    .img-bg {
        width: 100%;
        height: 100%;
        min-height: 400px;
    }

    .wcrlo-section-home .text-and-image img {
        width: 30%;
    }

    .max-w-700 {
        max-width: 700px;
    }

    .min-h-400 {
        min-height: 400px;
    }

    .min-h-300 {
        min-height: 300px;
    }
}
    
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    html {font-size: 90%;}

    .header-section {
        padding: 2px 0px;
    }

    .hero-wrap-2 {
        height: 100vh;
    }

    .hero-top {
        height: 54.38px;
    }
    
    .hero-content {
        min-height: calc(100vh - 54.38px);
    }

    .hero-wrap-about-us h5 {
        font-size: 250%;
    }

    .hero-wrap-home h3 {
        font-size: 290%;
    }

    .site-navigation {
        width: auto !important;
        background: transparent;
        box-shadow: 0px 0px 0px transparent;
        font-size: 100%;
        position: relative;
        z-index: 0;
    }

    .site-navigation ul li {
        width: auto;
        display: inline-block;
        padding-left: 0px;
        list-style: none;
        border-bottom: 0px;
        min-width: 70px;
    }

    .site-navigation ul li:hover {
        background: transparent;
    }

    .site-navigation ul li a {
        text-align: center;
        font-size: 100%;
        font-weight: 500;
        width: auto;
        padding: 0;
    }

    .site-navigation .nav-close {
        display: none;
    }

    .toggle-button {
        display: none;
    }

    .wcrlo-section-1 {
        padding: 6em 0;
    }

    .wcrlo-section-2 {
        padding: 6em 0;
    }

    .wcrlo-card h5 {
        font-size: 110%;
    }

    .map-container {
        overflow-y: hidden;
        height: 65vh;
    }
}
    
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
    
